body{
    /*font-size: 35px;*/
}
.red_c{
    color: red;
    font-family: 'Lobster', cursive;
}
.resaltado{
    background: blue;
}
a{
    color: #333333;
    text-decoration: none;
    border: none;
}
a:hover{
    color: #cccccc;
}

#Bloque {
    width: 80%;
    margin: 0 auto;
    background-color: darkturquoise;
    display: inline-block;
}

.izq {
    float: left;
    width: 45%
}

.der {
    float: right;
    width: 45%
}
ul {
    list-style: square;
}
nav ul {
    padding-left: 0px;
}
nav.horizontal ul li{
    display: inline-block;
}
.sca{
    width: 50%;
}

th, td{
    padding: 5px 10px;
    text-align: center;
}
